
body, div {
	padding: 10px;
}

body {
	margin: 40px;
	background: repeat-x scroll 0 0 #67ACE4;
}

#msg
{
	font-family: "Microsoft YaHei", Arial, sans-serif;
	font-size: 32px;
	color: #FFFFFF;
	height: 100px;
	margin: 40px auto 5px auto;
	text-shadow: 0px 0px 1px white;
}

#container {
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	width: auto;
}

#click, #main
{
	padding: 10px 30px 10px 30px;
	background-color: #F3F9F9 !important;
	border-radius: 10px;
}

.better-font{
	font-size: 18px;
	text-shadow: 0px 0px 0.5px ActiveCaption;
	color: ActiveCaption;
	text-decoration: none;
	margin: 0px 60px 0px 60px;
	letter-spacing: 5px;
}
